<launch>

  <param name="use_sim_time" value="true"/>

  <!-- Launch rosbag-->
  <node pkg="rosbag" type="record" name="recorder" args="--all --output-name=/home/menichea/results/8_1/normal_LS/results_8_1"/>
  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/menichea/rosbag/test_8_1_filtered.bag"/>

  <!-- remap certain topics to avoid confusion -->
  <!-- <remap from="/odometry/filtered" to="rosbag/ekf_odometry"/> -->
  <!-- <remap from="tf" to="tf_old"/> -->

  <!-- Launch rewrite radar node -->
  <node pkg="ti_mmwave_rospkg" type="rewrite_radar_node" name="rewrite_radar_node" output="screen"/>

  <!-- Launch evaluation node -->
  <node pkg="my_nodes_pkg" type="evaluation_node" name="evaluation_node" output="screen"/>

  <!-- Rewrite imu node -->
  <node pkg="my_nodes_pkg" type="rewrite_imu_node" name="rewrite_imu_node" />


  <!-- Launch EKF-->
  <node pkg = "robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find robot_localization)/params/my_ekf_radar_with_imu_8_1.yaml" />
  </node>

  <!-- remap certain topics to avoid confusion -->
  <!-- <remap from="/odometry/filtered" to="/ekf_odometry_new"/> -->


  <!-- Transform base frame to radar frame -->
  <node pkg="tf" type="static_transform_publisher" name="tf_base_to_radar" args="-0.048 0.055 0.093 0.0 0.0 0.0 base_link ti_mmwave 30"/>
  <!-- Transform imu frame to base_link frame -->
  <node pkg="tf" type="static_transform_publisher" name="tf_base_to_imu" args="0 0 0 0 0 0 base_link imu 30"/>


  <!-- transformation from vicon to odom frame (0.0 -2.2797 2.1616)-->
  <node pkg="tf" type="static_transform_publisher" name="tf_odom_to_vicon" args="-0.0199131557338 1.65900934246 0.900144956133
    -0.00984011183584 0.000616954945317 0.998388208726 0.055890752745 vicon odom 30"/>

  <!-- convert ekf message to vicon coordinates -->
  <node pkg="my_nodes_pkg" type="transform_ekf_node" name="transform_ekf_node" output="screen" />

  <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot" args=" --multiplot-run-all --multiplot-config /home/menichea/catkin_ws/src/robot_localization/rqt_multiplot_config/multiplot_2Dconfig.xml" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_localization)/Rviz/my_rviz_config_rosbag.rviz" />

</launch>
