<launch>
  <!-- Launch radar-->
    <!-- Input arguments -->
  <arg name="device" value="1843" doc="TI mmWave sensor device type [1443, 1642]"/>
  <arg name="config" value="3d" doc="TI mmWave sensor device configuration [3d_best_range_res (not supported by 1642 EVM), 2d_best_range_res]"/>
  <arg name="max_allowed_elevation_angle_deg" default="90" doc="Maximum allowed elevation angle in degrees for detected object data [0 > value >= 90]}"/>
  <arg name="max_allowed_azimuth_angle_deg" default="90" doc="Maximum allowed azimuth angle in degrees for detected object data [0 > value >= 90]}"/>

  <!-- mmWave_Manager node -->
  <node pkg="ti_mmwave_rospkg" type="ti_mmwave_rospkg" name="ti_mmwave" output="screen">
    <param name="command_port" value="/dev/ttyACM1"  />
    <param name="command_rate" value="115200"   />
    <param name="data_port" value="/dev/ttyACM2"  />
    <param name="data_rate" value="921600"   />
    <param name="max_allowed_elevation_angle_deg" value="$(arg max_allowed_elevation_angle_deg)"   />
    <param name="max_allowed_azimuth_angle_deg" value="$(arg max_allowed_azimuth_angle_deg)"   />
    <param name="frame_id" value="ti_mmwave"/>
  </node>

  <!-- mmWaveQuickConfig node (terminates after configuring mmWave sensor) -->
  <node pkg="ti_mmwave_rospkg" type="mmWaveQuickConfig" name="mmWaveQuickConfig" args="$(find ti_mmwave_rospkg)/cfg/1843_MaxVelRes.cfg" output="screen" />

  <!-- Static transform from map to base_radar_link for visualization of stand-alone mmWave sensor using Rviz -->
  <node pkg="tf" type="static_transform_publisher" name="static_tf_map_to_base_radar_link" args="0 0 0 0 0 0 ti_mmwave_pcl ti_mmwave 30"/>

  <!-- Launch Rviz with pre-defined configuration to view mmWave sensor detected object data (color by intensity) -->
  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ti_mmwave_rospkg)/launch/rviz/ti_mmwave_3d.rviz"/> -->

  <!-- Launch IMU-->
  <arg name="port" default="/dev/ttyACM0" />
  <node pkg="rosserial_server" type="serial_node" name="rosserial_server">
    <param name="port" value="$(arg port)" />
  </node>
  <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />

    <!-- Transform base frame to radar frame -->
  <node pkg="tf" type="static_transform_publisher" name="tf_base_to_radar" args="-0.048 0.055 0.093 0.0 0.0 0.0 base_link ti_mmwave 30"/>
  <!-- Transform imu frame to base_link frame -->
  <node pkg="tf" type="static_transform_publisher" name="tf_base_to_imu" args="0 0 0 0 0 0 base_link imu 30"/>

  <!-- Rewrite imu message for ekf node
  <node pkg="topic_tools" type="relay_field" name="rewrite_imu_node" args=" /imu imu_ok sensor_msgs/Imu
    '{
    header:
        {
          seq: m.header.seq,
          stamp: {
                  secs: m.header.stamp.secs, nsecs: m.header.stamp.nsecs
                },
          frame_id: m.header.frame_id
        },
    orientation_covariance: [-1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
    angular_velocity:
        {
          x: m.angular_velocity.x, y: m.angular_velocity.y, z: m.angular_velocity.z
        },
    angular_velocity_covariance: [0.01, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.01],
    linear_acceleration:
        {
          x: m.linear_acceleration.x, y: m.linear_acceleration.y, z: m.linear_acceleration.z
        },
    linear_acceleration_covariance: [0.01, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.01]
     }'">
  </node>

  <node pkg="rewrite_imu_pkg" type="imu_listener_node" name="imu_listener" />
-->

<!-- Rewrite imu node -->
<node pkg="my_nodes_pkg" type="rewrite_imu_node" name="rewrite_imu_node" />

  <!-- Launch EKF-->
  <node pkg = "robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find robot_localization)/params/my_ekf_radar_with_imu.yaml" />
  </node>

  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_localization)/Rviz/my_rviz_config.rviz" /> -->

  <!-- Launch rewrite radar node -->
  <node pkg="ti_mmwave_rospkg" type="rewrite_radar_node" name="rewrite_radar_node" output="screen"/>


</launch>
